*{
    margin: 0;
    padding: 0;
    

}
.LeftSideNav{
    background-color: beige;
    width: 280px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
}

.LeftSideNav nav{
padding: 20px

}

.LeftSideNav nav li{
    list-style: none;
    font-size: 23px;
    padding: 25px;
}

.LeftSideNav nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}


.main{
    /* background-color: aqua; */
    width: 85vw;
}


.container{
    display:flex;
}


.MainContainer{
display: flex; 
background-color: lightgray;
width: 75vw;
height: 75vh;
margin: /*75px*/ auto;
justify-content: space-around;
}


.Picture img{
    /* display: flex; */
    width: 200px;
    height: 200px;
    margin-top: 110px;
   padding-top: 150px;
    /* justify-content: space-around; */
    align-items: center;
    /* margin:; */
}
.Info{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
   /* flex-direction flips the axis from horizontal to vertical(align-items to justify-content) ; */
}

.Int{
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}
.Name{
    /* font-family: 'Rubik Bubbles', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    /* padding: 25px; */
}
.Pass{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2px;
}
.Buttons{
   margin-top: 25px;
   border-radius: 10px;
   padding: 5px;
   color: white;
   background-color: black;
}

.Buttons:hover{
   background-color: white;
   color: black;
}


.contactForm{
    /* display: flex; */
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    height: 100vh;
    background-color: rgba(139, 204, 241, 0.979);
    width: 100%;
}
.contactForm h2{
    color: green;
}

.contactDetails{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* text-decoration: none !important; */
    width: 100%;
    align-items: flex-end;
    height: 135px;
    background-color: aquamarine;
    margin-top: 668px;
    padding: 10px;
    /* margin-bottom: 5vh; */
    /* display: flex; */
    text-decoration: none;

} 

.contactNumber{
    align-items: flex-end;
    /* background-color: red; */
    justify-content: center;
    margin-top: 20px;
    /* text-align: center; */
    /* margin-left: 50%; */
}

.contactEmail{
    /* background-color: brown; */
    margin-top: 10px;
}

.contactDetails button{
    padding: 5px;
}

/* My intro css */
#mainContainer{
    background-color: white;
}

#info{
    background-color: white;
}
#info h1{
    text-decoration-line: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info p{
    margin-bottom: 35px;
}
.skillsCont{
font-size: large;
color: darkslategray;
}

.skillsHTML{
    background-color: navy;
    width: 250px;
    height: 10px;

}
.skillsCSS{
    background-color: navy;
    width: 187.5px;
    height: 10px;

}
.skillsJavaScript{
    background-color: navy;
    width: 80px;
    height: 10px;

}
.skillsJquery{
    background-color: navy;
    width: 62.5px;
    height: 10px;

}
.skillsBootstrap{
    background-color: navy;
    width: 150px;
    height: 10px;

}
.skillsPython{
    background-color: navy;
    width: 225px;
    height: 10px;

}

/* ******************************************************************************************** */
.MainContainer-work{
    display: flex;
}

.work-image{
    border: solid;
    border-color: black;
    border-radius: 1rem;
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
}

.work-image :hover{
    z-index: -1;
    opacity: .05;
    background-color: blue;
}

.work-image img{
    
    margin-bottom: 30px;
    /* align-items: center; */
    width: 600px;
    height: 200px;
}

/* ******************************************************************************************** */
#cv-id{
    text-align: center;
}

/* ******************************************************************************************** */

.contact{
    height: 100vh;
    width: 100%;
    padding: 100px 0;
    background:linear-gradient(#0f0c29, #302b63, #24243e);
}

.contact h2{
    color: grey
}

.contact p{
    color: grey
}

form:hover

.form_button button{
    border: 2px solid grey;
    border-radius: 100px;
    margin: 0 8px;
    padding: 14px 30px;
    outline: none;
    color:grey;
    font-size: 1rem;
    font-weight: 500;
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
    background: transparent
}


form:hover .form_button button{
    /* background: black; */
    /* background: grey; */
    background: white;
    
    box-shadow:0 0 20px 0 rgba(104, 107, 110, 0.719)

}

/* ******************************************************************************************** */